div {
	/*border: 1px solid black;*/
	display: inline-block;
}
.card{
	margin: 2px, 2px, 2px, 2px;
	padding:  2px, 2px, 2px, 2px;
	height: 100px;
	width: 100px;
	background-color: cornflowerblue;
}
.card_s{
	margin: 2px, 2px, 2px, 2px;
	height: 100px;
	width: 100px;
	background-color: silver;
}
.card_c{
	margin: 2px, 2px, 2px, 2px;
	height: 100px;
	width: 100px;
	background-color: coral;
}
.card_p{
	margin: 2px, 2px, 2px, 2px;
	height: 100px;
	width: 100px;
	background-color: purple;
}
.cards{
	display: inline-block;
}
#me-cards{

}

#fight{
	height: 50px;
	width: 50px;
	background-color: darksalmon;
	margin-top: 25px;
	margin-bottom: 25px;
}

#main{
	display: inline-block;

}

#res{
	display: block;
	height: 50px;
	width: 200px;
	border: 1px solid black;
}

#settings{
	display: block;
	height: 50px;
	width: 200px;
	border: 1px solid black;
}
