div {
	/*border: 1px solid black;*/
	display: inline-block;
}
.card{
    border: 2px solid white;
	margin: 2px, 2px, 2px, 2px;
	padding:  2px, 2px, 2px, 2px;
	height: 80px;
	width: 80px;
	background-color: cornflowerblue;
    opacity:0.8;
}
.card_s{
    background-color: silver;
}
.card_c{
    background-color: coral;
}
.card_p{
    background-color: purple;
}
.cards{
	display: inline-block;
}
.hovered {
    opacity:1;
}
#me-cards{

}

#fight{
	height: 40px;
	width: 40px;
	background-color: darksalmon;
	margin-top: 25px;
	margin-bottom: 25px;
    opacity: 0.8;
}

#main{
	display: inline-block;
}

#res{
	display: block;
	height: 50px;
	width: 200px;
}

#settings{
	display: block;
	height: 50px;
	width: 200px;
}
#cards-count {
    display: block;
    height: 50px;
	width: 50px;
    background-color: blueviolet;
    color:white;
    font-size:40px;
    opacity: 0.8;
}
